{% extends 'base.html.twig' %}

{% block title %} Your People {% endblock %}

{% block body %}

  {% if is_granted('ROLE_USER') %}
     <h2>Welcome User: {{ user.email }}</h2>
     <a href="/logout" class="btn btn-danger delete-article">Logout</a>
      {% if people %}
    <table id="people" class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Relationship</th>
          <th>Contacted</th>
          <th>CONTACT</th>
          <th>More</th>
        </tr>
      </thead>
      <tbody>
        {% for person in people %}
          {% if person.email is same as(user.email) %}
          <tr>
            <td>{{ person.name }}</td>
            <td> {{ person.relationship }} </td>
            <td> {{ person.lastContacted }}
            <td><a href="/people/updateContacted/{{person.id}}" class="btn btn-danger delete-article">CONTACT</a></td>
            <td>
              <a href="/people/{{ person.id }}" class="btn btn-dark">More</a>
              <!--<a href="/article/edit/{{ person.id }}" class="btn btn-light">Edit</a>-->
              
            </td>
            
          </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No articles to display</p>
  {% endif %}
  {% else %}

      <a href="/login">PLEASE LOG IN TO VIEW THIS CONTENT</a>

  {% endif %}


  
{% endblock %}

{% block javascripts %}
  <script src="/js/main.js"></script>
{% endblock %}    